{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>
        
        {{ form_label(registrationForm.email, null, {'label_attr': {'for': 'registration_form_email'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'autofocus': true, 'required': true}}) }}
        {{ form_errors(registrationForm.email) }}
        
        {{ form_label(registrationForm.plainPassword.first, null, {'label_attr': {'for': 'registration_form_plainPassword_first'}}) }}
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'required': true}}) }}
        {{ form_errors(registrationForm.plainPassword.first) }}
        
        {{ form_label(registrationForm.plainPassword.second, null, {'label_attr': {'for': 'registration_form_plainPassword_second'}}) }}
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'required': true}}) }}
        {{ form_errors(registrationForm.plainPassword.second) }}

        {{ form_widget(registrationForm.submit) }}
        
        <div class="mt-3 text-center">
            Already have an account? <a href="{{ path('app_login') }}">Sign in here</a>
        </div>
        
    {{ form_end(registrationForm) }}
{% endblock %}